Fontes/Saude.Modulos/Saude.Api/node_modules/
Fontes/Saude.Modulos/Saude.Api/bin/
Fontes/Saude.Modulos/Saude.App/gti_sesa_saude/ios
Fontes/Saude.Modulos/Saude.App/gti_sesa_saude/android
Fontes/Saude.Modulos/Saude.Mod/node_modules/

